## Operators
- Arithmetic Operators
- Relational Operators
- Bitwise Operators
- Assignment Operators
- Membership Opetaors

### Arithematic Operators

In [1]:
print(4+3)

7

In [2]:
print(4-3)

1

In [3]:
print(4*3)

12

In [4]:
print(4/2)

2.0

In [5]:
print(4//2)

2

In [6]:
print(4%2)

0

In [7]:
print(5**2)

25

### Relational Operators

In [8]:
print(4>5)

False

In [9]:
print(4<5)

True

In [10]:
print(4>=4)

True

In [11]:
print(4<=4)

True

In [12]:
print(4==4)

True

In [13]:
print(4!=4)

False

### Logical Operators

In [14]:
print(1 and 0)

0

In [15]:
print(1 and 1)

1

In [16]:
print(0 and 1)

0

In [17]:
print(1 or 0)

1

In [18]:
print(not 1)

False

In [19]:
print(not 0)

True

### Bitwise Operators

In [20]:
print(2 & 3)

2

In [21]:
print(2 | 3)

3

In [22]:
print(2 ^ 3)

1

### Assignment Operators

In [23]:
a = 2

In [24]:
a = 2

a += 1
print(a)

3

### Membership Operators

In [25]:
# in/not in

In [26]:
print('M' in 'Mumbai')

True

In [28]:
print('D' not in 'Mumbai')

True

In [29]:
print(1 in [1,2,3,4])

True

## Operators Exercise

#### Find the sum of a 3 digit number entered by the user

In [31]:
number = int(input("Enter 3 numbers to perform sum: "))

# 345%10 = 5
a = number%10

# 345//10 = 34
number = number//10
# 34%10 = 4
b = number%10

# 345//10 = 34
number = number//10
# 3%10 = 3
c = number%10

result = a + b + c
print(result)

12